body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.168),rgba(0, 0, 0, 0.842));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
   }
   header{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }

    input#leap_year{
   border:1px solid black;
   width:100px
}